## 依赖包的导入

In [1]:
# coding:utf-8
from __future__ import division
import numpy as np
import pandas as pd
from scipy import stats

## 数据的读取

In [2]:
##0.Read Data##
df = pd.read_csv('train.csv')
label = df['TARGET']
df = df.drop(['ID','TARGET'], axis=1)

In [3]:
df.shape

(76020, 369)

## 3.1 描述统计-计数类

In [4]:
##1.Basic Analysis##
#(1)Missing Value#
missSet = [np.nan, 9999999999, -999999]

In [5]:
#(2)Count distinct#
len(df.iloc[:, 0].unique())

count_un = df.iloc[:, 0:3].apply(lambda x:len(x.unique()))

In [9]:
type(count_un)

pandas.core.series.Series

In [7]:
#(3)Zero Values#
np.sum(df.iloc[:,0] == 0)

count_zero = df.iloc[:, 0:3].apply(lambda x:np.sum(x == 0))

In [8]:
count_zero

var3                     75
var15                     0
imp_ent_var16_ult1    72301
dtype: int64

##  3.2 描述统计-均值和中位数

In [9]:
#(4)Mean Values#
np.mean(df.iloc[:, 0]) # 没有去除缺失值之前的均值很低

-1523.1992765061825

In [10]:
df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)] # 去除缺失值
np.mean(df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)]) # 去除缺失值后的均值计算

2.717577466273187

In [11]:
df_mean = df.iloc[:,0:3].apply(lambda x:np.mean(x[~np.isin(x, missSet)]))

In [12]:
df_mean

var3                   2.717577
var15                 33.212865
imp_ent_var16_ult1    86.208265
dtype: float64

In [13]:
#(5)Median Values#
np.median(df.iloc[:,0])

2.0

In [14]:
df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)]
np.median(df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)])

2.0

In [15]:
df_median = df.iloc[:,0:3].apply(lambda x:np.median(x[~np.isin(x, missSet)]))

In [16]:
df_median

var3                   2.0
var15                 28.0
imp_ent_var16_ult1     0.0
dtype: float64

## 3.3 统计描述-众数

In [17]:
#(6)Mode Values#
df_mode = df.iloc[:,0:3].apply(lambda x: stats.mode(x[~np.isin(x, missSet)])[0][0])

In [18]:
df_mode

var3                   2.0
var15                 23.0
imp_ent_var16_ult1     0.0
dtype: float64

In [19]:
#(7)Mode Percentage#
df_mode_count = df.iloc[:,0:3].apply(lambda x: stats.mode(x[~np.isin(x, missSet)])[1][0])

In [20]:
df_mode_count

var3                  74165
var15                 20170
imp_ent_var16_ult1    72301
dtype: int64

In [21]:
df_mode_perct = df_mode_count/df.shape[0]

In [22]:
df_mode_perct

var3                  0.975599
var15                 0.265325
imp_ent_var16_ult1    0.951079
dtype: float64

##  3.4 描述统计-最大最小值

In [23]:
#(8)Min Values#
np.min(df.iloc[:,0])

-999999

In [24]:
df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)]
np.min(df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)])

0

In [25]:
df_min = df.iloc[:, 0:3].apply(lambda x:np.min(x[~np.isin(x, missSet)]))

In [26]:
df_min

var3                  0.0
var15                 5.0
imp_ent_var16_ult1    0.0
dtype: float64

In [27]:
#(9)Max Values#
np.max(df.iloc[:,0])

238

In [28]:
df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)]
np.max(df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)])

238

In [29]:
df_max = df.iloc[:, 0:3].apply(lambda x:np.max(x[~np.isin(x, missSet)]))

In [30]:
df_max

var3                     238.0
var15                    105.0
imp_ent_var16_ult1    210000.0
dtype: float64

## 3.5 统计描述-分位点

In [31]:
#(10)quantile values
np.percentile(df.iloc[:,0], (1,5,25,50,75,95,99))

array([  2.,   2.,   2.,   2.,   2.,   2.,  11.])

In [33]:
df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)]
np.percentile(df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)], (1,5,25,50,75,95,99))

array([  2.,   2.,   2.,   2.,   2.,   2.,  11.])

In [39]:
json_quantile = {}

for i,name in enumerate(df.iloc[:,0:3].columns):
    print('the %d columns: %s' %(i,name))
    json_quantile[name] = np.percentile(df[name][~np.isin(df[name], missSet)], (1,5,25,50,75,95,99))

the 0 columns: var3
the 1 columns: var15
the 2 columns: imp_ent_var16_ult1

In [47]:
# 写法1
df_quantife = pd.DataFrame(json_quantile, columns = df.iloc[:,0:3].columns).T
# 写法2
df_quantife = pd.DataFrame(json_quantile)[df.iloc[:,0:3].columns].T

In [48]:
df_quantife

                       0     1     2     3     4     5       6
var3                 2.0   2.0   2.0   2.0   2.0   2.0    11.0
var15               22.0  23.0  23.0  28.0  40.0  60.0    77.0
imp_ent_var16_ult1   0.0   0.0   0.0   0.0   0.0   0.0  1500.0

In [49]:
df_quantife.T

   var3  var15  imp_ent_var16_ult1
0   2.0   22.0                 0.0
1   2.0   23.0                 0.0
2   2.0   23.0                 0.0
3   2.0   28.0                 0.0
4   2.0   40.0                 0.0
5   2.0   60.0                 0.0
6  11.0   77.0              1500.0

## 3.6 描述统计-频数

In [51]:
#(11)Frequent Values
df.iloc[:,0].value_counts().iloc[0:5,]

 2         74165
 8           138
-999999      116
 9           110
 3           108
Name: var3, dtype: int64

In [53]:
df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)]
df.iloc[:,0][~np.isin(df.iloc[:,0], missSet)].value_counts()[0:5,]

2    74165
8      138
9      110
3      108
1      105
Name: var3, dtype: int64

In [54]:
json_fre_name = {}
json_fre_count = {}

def fill_fre_top_5(x):
    if len(x) <= 5:
        new_array = np.full(5, np.nan)
        new_array[0:len(x)] = x
        return new_array

In [82]:
df['ind_var1_0'].value_counts().iloc[0:5,]

0    75149
1      871
Name: ind_var1_0, dtype: int64

In [57]:
len(df['imp_sal_var16_ult1'].value_counts())

66

In [59]:
for i,name in enumerate(df[['ind_var1_0','imp_sal_var16_ult1']].columns):
    index_name = df[name][~np.isin(df[name], missSet)].value_counts().iloc[0:5,].index.values
    index_name = fill_fre_top_5(index_name)
    
    json_fre_name[name] = index_name
    
    values_count = df[name][~np.isin(df[name], missSet)].value_counts().iloc[0:5,].values
    values_count = fill_fre_top_5(values_count)
    
    json_fre_count[name] = values_count

In [60]:
json_fre_count

{'imp_sal_var16_ult1': array([  7.59240000e+04,   9.00000000e+00,   5.00000000e+00,
          4.00000000e+00,   3.00000000e+00]),
 'ind_var1_0': array([ 75149.,    871.,     nan,     nan,     nan])}

In [61]:
json_fre_name

{'imp_sal_var16_ult1': array([    0.,  3000.,  1500.,   600.,   450.]),
 'ind_var1_0': array([  0.,   1.,  nan,  nan,  nan])}

In [64]:
df_fre_name = pd.DataFrame(json_fre_name)[df[['ind_var1_0','imp_sal_var16_ult1']].columns].T

In [65]:
df_fre_name

                      0       1       2      3      4
ind_var1_0          0.0     1.0     NaN    NaN    NaN
imp_sal_var16_ult1  0.0  3000.0  1500.0  600.0  450.0

In [66]:
df_fre_count = pd.DataFrame(json_fre_count)[df[['ind_var1_0','imp_sal_var16_ult1']].columns].T

In [67]:
df_fre_count

                          0      1    2    3    4
ind_var1_0          75149.0  871.0  NaN  NaN  NaN
imp_sal_var16_ult1  75924.0    9.0  5.0  4.0  3.0

In [80]:
df_fre = pd.concat([df_fre_name, df_fre_count], axis=1)

In [81]:
df_fre

,0,1,2,3,4,0,1,2,3,4
ind_var1_0,0.0,1.0,NaN,NaN,NaN,75149.0,871.0,NaN,NaN,NaN
imp_sal_var16_ult1,0.0,3000.0,1500.0,600.0,450.0,75924.0,9.0,5.0,4.0,3.0

In [78]:
good = np.array([json_fre_name['ind_var1_0'],
                json_fre_count['ind_var1_0'],
                json_fre_name['imp_sal_var16_ult1'],
                json_fre_count['imp_sal_var16_ult1']])
Mindex = pd.MultiIndex.from_product([['ind_var1_0','imp_sal_var16_ult1'],['key','nums']])
df_good = pd.DataFrame(good,index=Mindex)

In [79]:
df_good

                               0       1       2      3      4
ind_var1_0         key       0.0     1.0     NaN    NaN    NaN
                   nums  75149.0   871.0     NaN    NaN    NaN
imp_sal_var16_ult1 key       0.0  3000.0  1500.0  600.0  450.0
                   nums  75924.0     9.0     5.0    4.0    3.0

## 3.7 统计描述-缺失值

In [89]:
#(12)Miss Values
np.sum(np.isin(df.iloc[:,0], missSet))
df_miss = df.iloc[:,0:3].apply(lambda x:np.sum(np.isin(x, missSet)))

In [90]:
df_miss

var3                  116
var15                   0
imp_ent_var16_ult1      0
dtype: int64